{{define "link"}}
	<link rel="stylesheet" href="/css/index/index_right.css">
{{end}}
{{define "right"}}
<div class="article">
	{{range .}}
		
	{{end}}
	<h1>Golang 连接mysql数据库</h1>
	<div class="content">操作数据库，本来是想尝试oracle的，并且在实际开发中使用下，但是研究了几天失败了，真心觉得在windows下搞一线略微前卫一点的东西都变得特别复杂... 所以看了下如何连接mysql的，自测成功mark下，希望能帮助到刚刚开始接触go类似我这样的小鸟不要浪费更多的时间走弯路，贴代码！借鉴了下 http://wendal.net/448.html 这个哥们的文档，但是有一点点小错误~.. 下面是我已经通过并且真实得到现实结果的测试代码：</div>
	<div class="bottom">
		<div class="bottom_left"><i class="icon-time"></i> <span>2016-10-31 12:24:00<span></div>
		<div class="bottom_left"><i class="icon-eye-open"></i> <span>已被查看 20 次<span></div>
	</div>
</div>
<div class="article">
	<h1>Golang 读取文件</h1>
	<div class="content">golang的错误处理有点奇怪.插入代码时候, 使用插入代码(推荐) 出现错误: 无法解析服务器的 DNS 地址。使用插入代码, 直接是文本插入, 连着色都没有.插入图片要地址, 不能上传.  下载客户端, 转到微软的网站时已经是: We can’t find that page. 写个博客都这么难比较失望.</div>
	<div class="bottom">
		<div class="bottom_left"><i class="icon-time"></i> <span>2016-10-31 12:24:00<span></div>
		<div class="bottom_left"><i class="icon-eye-open"></i> <span>已被查看 20 次<span></div>
	</div>
</div>
<div class="article">
	<h1>Golang web 框架</h1>
	<div class="content">经常有人问：Go有哪些Web开发框架？做Web开发的总是想要一个开发框架。好的框架的确很有用处。不过，如果Go新手，记得一定别被框架束缚住了，一定要学习Go的基础。为了方便大家，我将现有的一些框架（文档比较全的）做一个汇总（没用过，没法提供各种对比）：1、web.go，源码地址：https://github.com/hoisie/web，官方首页：http://webgo.io/2、revel，类似Java的play框架。源码地址：https://github.com/robfig/revel，官方首页：http://robfig.github.io/revel/。Danny.Tian总结的学习笔记：[一步一步学习Revel Web开源框架](http://www.cnblogs.com/ztiandan/archive/2013/01/17/2864498.html)3、goku，类似asp.net mvc，源码地址：https://github.com/QLeelulu/goku，官方首页：http://qleelulu.github.io/goku/4、beego，类似python的tornado和php的ci，源码地址：https://github.com/astaxie/beego，文档首页：https://github.com/astaxie/beego/tree/master/docs/zh目前这几个框架的文档都还不错。其中3、4是国人开发的。</div>
	<div class="bottom">
		<div class="bottom_left"><i class="icon-time"></i> <span>2016-10-31 12:24:00<span></div>
		<div class="bottom_left"><i class="icon-eye-open"></i> <span>已被查看 20 次<span></div>
	</div>
</div>
{{end}}